<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JetFlyService_Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <JetFlyService_Test.Properties.Settings>
            <setting name="JetFlyService_Test_TestedService_JetFlyService"
                serializeAs="String">
                <value>http://localhost:59828/JetFlyService.asmx</value>
            </setting>
            <setting name="JetFlyService_Test_RealService_JetFlyService"
                serializeAs="String">
                <value>http://alexshestakov.com/JetFly/JetFlyService.asmx</value>
            </setting>
        </JetFlyService_Test.Properties.Settings>
    </applicationSettings>
</configuration>